<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Privacidade
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contatos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Sobre
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Landi Renzo
            <a href="https://preventivo.landirenzo.com" target="_blank">Preventivo</a>
        </div>
    </div>
</footer>
