<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Usuários</h4>
                      <p class="card-category">Usuários cadastrados</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      Login
                                  </th>
                                  <th>
                                      Tipo
                                  </th>
                                  <th>
                                      último Acesso
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          João da Silva
                                      </td>
                                      <td>
                                          joao@email.com
                                      </td>
                                      <td>
                                          Adminitrado
                                      </td>
                                      <td>
                                          20/03/2019
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                            Fênix Automotiva 
                                      </td>
                                      <td>
                                          fenix
                                      </td>
                                      <td>
                                          Oficina
                                      </td>
                                      <td>
                                          15/03/2019
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Maria Rodriguez
                                      </td>
                                      <td>
                                          maria@email.com
                                      </td>
                                      <td>
                                          Financeiro
                                      </td>
                                      <td>
                                          01/04/2019
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                         philip@email.com
                                      </td>
                                      <td>
                                          Usuário Comum
                                      </td>
                                      <td>
                                          10/03/2019
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Fernando
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          fernando@email.com
                                      </td>
                                      <td>
                                          02/04/2019
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                         Auto Mecânica Minas
                                      </td>
                                      <td>
                                          mecanicaminas
                                      </td>
                                      <td>
                                          Adminitrado
                                      </td>
                                      <td>
                                          01/04/2019
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
