<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Orçamento</h4>
                      <p class="card-category">Veículo</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-4">
                                <label>Marca do Veículo</label>
                                    <select class="browser-default custom-select">
                                      <option selected>Selecione a marca do seu veículo</option>
                                      <option value="1">BMW</option>
                                      <option value="2">Ford</option>
                                      <option value="3">Hyundai</option>
                                      <option value="4">Honda</option>
                                      <option value="5">Merdedes</option>
                                      <option value="6">Nissan</option>
                                      <option value="7">Renault</option>
                                      <option value="8">Toyota</option>
                                      <option value="9">Volkswagen</option>
                                    </select>
                              </div>
                              <div class="col-md-4">
                                <label>Modelo do Veículo *</label>
                                <select class="browser-default custom-select">
                                  <option selected>Selecione a modelo do seu veículo</option>
                                  <option value="1">116i</option>
                                  <option value="2">118i</option>
                                  <option value="3">117i</option>
                                  <option value="4">112i</option>
                                </select>
                              </div>
                              <div class="col-md-4">
                                <label>Configurações do veículo *</label>
                                <select class="browser-default custom-select">
                                  <option selected>Selecione a configuração</option>
                                  <option value="1">2.5 170 CV (2500 6c 125 kW 256S3)</option>
                                  <option value="1">2.5/170 CV (96-98) [2500 6c 125 kW 256S4] </option>
                                </select>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label>Estado *</label>
                                  <select class="browser-default custom-select">
                                    <option selected>Selecione a marca do seu veículo</option>
                                    <option value="1">BMW</option>
                                    <option value="2">Ford</option>
                                    <option value="3">Hyundai</option>
                                    <option value="4">Honda</option>
                                    <option value="5">Merdedes</option>
                                    <option value="6">Nissan</option>
                                    <option value="7">Renault</option>
                                    <option value="8">Toyota</option>
                                    <option value="9">Volkswagen</option>
                                  </select>
                            </div>
                            <div class="col-md-4">
                              <label>Cidade *</label>
                              <select class="browser-default custom-select">
                                <option selected>Selecione a modelo do seu veículo</option>
                                <option value="1">116i</option>
                                <option value="2">118i</option>
                                <option value="3">117i</option>
                                <option value="4">112i</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                                <label>Email *</label>
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Informe o email" type="text">
                              </mat-form-field>
                            </div>
                          </div>
                
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nome *" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Sobrenome *" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Telefone *" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>Observações</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Informe uma breve descrição do veículo"></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Avançar</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
 
      </div>
  </div>
</div>
